@use "../../abstract/variables";

button {
  width: 100%;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: variables.$shadow;

  &.primary {
    background-color: variables.$primary;
  }

  &.secondary {
    background-color: variables.$secondary;
  }

  &.danger {
    background-color: variables.$danger;
  }

  &.success {
    background-color: variables.$success;

    transition: all 0.3s ease-in-out;
  }

  &.warning {
    background-color: variables.$warning;
  }

  &:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }

}