@use '../../abstract/variables';

.product {
  width: 100%;
  height: 300px;

  box-sizing: border-box;

  box-shadow: variables.$shadow-md;

  .content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // backdrop-filter: blur(20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    // box-sizing: border-box;


    header,
    footer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: .5rem;
      box-sizing: border-box;
      padding: .5rem;

      backdrop-filter: blur(40px);

      h2 {
        font-size: 1.2rem;
        font-weight: 700;
        color: variables.$light;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0;
      }

      span {
        font-size: .9rem;
        font-weight: 400;
        color: variables.$light;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
      }

      .title {
        font-size: .8rem;
        font-weight: 700;
        color: variables.$light;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;

        h2 {
          margin: .5rem
        }
      }

      // .title {
      //   font-size: .8rem;
      //   font-weight: 700;
      //   color: variables.$primary;
      //   text-align: center;
      //   text-transform: uppercase;
      //   text-decoration: none;

      //   h2 {
      //     margin: .5rem
      //   }
      // }
    }

    footer {
      width: 100%;

      .price {
        font-size: 1rem;
        font-weight: 500;
        color: variables.$secondary;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
      }

      .counter-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: .5rem;
        // padding: 0 1rem;

        .counter {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: variables.$secondary;
          border-radius: 5px;

          button {
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;

            &:first-child {
              border-radius: 5px 0 0 5px;
            }

            &:last-child {
              border-radius: 0 5px 5px 0;
            }
          }

          span {
            font-size: 1rem;
            color: variables.$light;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

          }
        }

        .cart-button-container {
          width: 20%;

          button {
            border-radius: 5px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: variables.$light;
            }

          }
        }
      }
    }



  }

}