@use '../../abstract/variables';

.cart-page {
  padding: .5rem 1rem;

  .checkout {
    margin: 5rem;
    padding: 1rem;
    background-color: variables.$light;
    box-shadow: variables.$shadow-xl;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .checkout-title {
      h1 {
        font-weight: 500;
      }
    }

    .checkout-price-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;

    }
  }

  .grid-products {
    padding: 1rem;
    background-color: variables.$light;
    box-shadow: variables.$shadow-xl;
  }
}