.header {
  width: 100%;
  height: 5rem;
  background: #0F1035;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  box-sizing: border-box;
}
.header .logo a {
  text-decoration: none;
  color: #f8f9fa;
}
.header .cart {
  width: 2rem;
  height: 2rem;
}
.header .cart button {
  height: 100%;
  width: 100%;
  padding: 0;
}
.header .cart button svg {
  height: 100%;
  width: 100%;
  fill: #f8f9fa;
}

input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.container {
  max-width: 540px;
  width: 100%;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

button {
  width: 100%;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
button.primary {
  background-color: #0F1035;
}
button.secondary {
  background-color: #365486;
}
button.danger {
  background-color: #dc3545;
}
button.success {
  background-color: #28a745;
  transition: all 0.3s ease-in-out;
}
button.warning {
  background-color: #ffc107;
}
button:disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.product {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.product .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product .content header,
.product .content footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
  backdrop-filter: blur(40px);
}

.product .content header h2,
.product .content footer h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f8f9fa;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
}

.product .content header span,
.product .content footer span {
  font-size: 0.9rem;
  font-weight: 400;
  color: #f8f9fa;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}

.product .content header .title,
.product .content footer .title {
  font-size: 0.8rem;
  font-weight: 700;
  color: #f8f9fa;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product .content header .title h2,
.product .content footer .title h2 {
  margin: 0.5rem;
}

.product .content footer {
  width: 100%;
}

.product .content footer .price {
  font-size: 1rem;
  font-weight: 500;
  color: #365486;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product .content footer .counter-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.product .content footer .counter-container .counter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #365486;
  border-radius: 5px;
}

.product .content footer .counter-container .counter button {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.product .content footer .counter-container .counter button:first-child {
  border-radius: 5px 0 0 5px;
}

.product .content footer .counter-container .counter button:last-child {
  border-radius: 0 5px 5px 0;
}

.product .content footer .counter-container .counter span {
  font-size: 1rem;
  color: #f8f9fa;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.product .content footer .counter-container .cart-button-container {
  width: 20%;
}

.product .content footer .counter-container .cart-button-container button {
  border-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .content footer .counter-container .cart-button-container button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #f8f9fa;
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 5rem;
}

body {
  margin: 0;
  padding: 0;
}

dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease both;
}
dialog::backdrop {
  animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  backdrop-filter: blur(20px);
}
dialog .x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}
dialog .x:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
dialog h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
}
dialog p {
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.5rem 0;
}
dialog p a:visited {
  color: rgb(var(--vs-primary));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
